body{
    background-color: black;
    background-image: url("../img/WhatsApp\ Image\ 2022-11-11\ at\ 18.07.25.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.cuerpo{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.barra-funciones{
    display: flex;
    flex-direction: column;
}
.b1{
    padding: 20px;
}
.b2{
    padding: 20px;
}

.barra-funciones button{
    font-family: Arial;
    border: 0ch;
    border-radius: 10px;
    background-color: #5DBFC2;
    height: 40px;
    width: 140px;
}

.volver h1{
    color: whitesmoke;
    font-family: Arial;
    font-weight: 800;
}

.volver button{
    font-family: Arial;
    border: 0ch;
    border-radius: 10px;
    background-color: #5DBFC2;
    height: 37px;
    width: 120px;
}

.volver{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
}

.container{
    padding-top: 30px;
}