body{
    background-color: black;
    background-image: url("../img/WhatsApp\ Image\ 2022-11-11\ at\ 18.07.25.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial;
}

.form-registrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 90px;
}

.container-buttons{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.form-registrar button{
    border: 0ch;
    border-radius: 10px;
    background-color: #5DBFC2;
    height: 37px;
    width: 140px;
    font-family: Arial;
}

.form-registro-cliente{
    margin: 10px;
}

.form-registro-cliente h1{
    color: antiquewhite;
    font-display: Billionare Medium Grunge;
    font-weight: 800;
}

.form-registro-cliente label{
    font-display: Billionare Medium Grunge;
    font-weight: 800;
    color: antiquewhite;
    padding-bottom: 5px;
}

.container{
    display: flex;
    flex-direction: column;
}

.form-registro-cliente form{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input{
    font-display: Billionare Medium Grunge;
    font-weight: 800;
    background-color: #5DBFC2;
    border: 0ch;
    border-radius: 10px;
    height: 25px;
}