body{
    background-color: black;
    background-image: url("../img/WhatsApp\ Image\ 2022-11-11\ at\ 18.07.25.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Ash";
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.input form{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
    padding-top: 10px;
}

img.logo{
    height: 110px;
    width: 130px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}


@font-face {
    font-family: 'Ash';
    src: url('../ash/Ash.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}

.login h1{
    font-display: Billionare Medium Grunge;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.login label{
    font-display: Billionare Medium Grunge;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

input{
    background-color: #5DBFC2;
    border: 0ch;
    border-radius: 10px;
}

.entrar{
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-evenly;
}

.entrar form{
    padding-left: 10px;
    padding-right: 10px;
}

.entrar button{
    border: 0ch;
    border-radius: 10px;
    background-color: #5DBFC2;
    height: 37px;
    width: 140px;
}

